html, body {
    background-color: #202020;
    color: #0099ff;
}
#output-area ul {
    list-style-type: none;
    color: white;
}
#output-area li {
    font-size: 22px;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Helvetica, Arial;
}
p a {
    text-decoration: none;
    color: white;
}
